<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gardening With You</title>
    <link rel = "stylesheet" href = "index.css">
</head>
<body>
    <div class="shipping-notice">
        Free shipping for all orders above 50 MYR!
    </div>
    
    <header class="sticky-navbar">
        <div class = "navbar">
            <div class = "navbar-left">
                <img src = "../../images/burgerMenu.png" alt = "Menu">
                <img src = "../../images/search.png" alt = "Search">
            </div>
            <div class = "logo">
                <img src="../../images/Ellipse 1.svg" alt="Logo" class="logo-icon">
                <span class="logo-text">ECOCOM</span>
            </div>
            <div class = "navbar-right">
                <img src = "../../images/shoppingBag.png" alt = "Cart">
                <img src = "../../images/profile.png" alt = "Profile">
            </div>
        </div>
    </header>

    <main>
        <img src = "../../images/Toothpaste.png" alt = "garden" class = "garden-img">
        <div class = "form">
            <div class = "title-container">
                <h2><strong>My New Swap</strong></h2>
                <button class ="edit-title">
                    <img src= "../../images/edit.png" alt = "Edit" class = "edit-icon">
                </button>
            </div>

            <section class = "input-box description-box">
                <p><strong>Description</strong></p>
                <input type = "Description" placeholder = "Description here" required>
            </section>
            
            <section class = "input-box wishlist-box">
                <p><strong>My Wishlist</strong></p>
                <input type = "Wishlist" placeholder = "Wishlist here" required>
            </section>
            <section class = "input-box usernotes-box">
                <p><strong>User Notes</strong></p>
                <input type = "User Notes" placeholder = "User Notes Here" required>
            </section>
            <button class = "create-swap">Create Swap</button>
        </div>
    </main>

    <footer>
        <div>
            <h4>Explore</h4>
            <ul>
                <li><a href= "#" >Product Swap</a></li>
                <li><a href= "#" >My Product</a></li>
                <li><a href= "#" >Swap History</a></li>
            </ul>
        </div>
        <div>
            <h4>Help</h4>
            <ul>
                <li><a href= "#" >Help Center</a></li>
                <li><a href= "#" >Returns & Warranty</a></li>
                <li><a href= "#" >Contact Us</a></li>
            </ul>
        </div>
        <div>
            <h4>About</h4>
            <ul>
                <li><a href= "#" >About Us</a></li>
                <li><a href= "#" >Impact</a></li>
            </ul>
        </div>
        <div>
            <h4>My Account</h4>
            <ul>
                <li><a href= "#" >Profile</a></li>
                <li><a href= "#" >Settings</a></li>
                <li><a href= "#" >Logout</a></li>
            </ul>
        </div>
    </footer>

    <hr class = "footer-divider">

    <div class = "copyright">
        <p>Copyright @ YYYY www.example.com. All Right Reserved.</p>
    </div>
</body>
</html>