<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="index.css">
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'> <!-- Allows me to use Public Sans -->
    <script src="./index.js"></script>
</head>
<body>

    <!-- Free Shipping Banner -->
    <div class="top-banner">
        Free shipping for all orders above 50 MYR!
    </div>

    <!-- Navigation Bar -->
    <header class="nav-bar">
        <div class="nav-left">
            <img src="/src/frontend/images/Menu.svg" alt="Menu Icon" class="icon">
            <img src="/src/frontend/images/Search.svg" alt="Search Icon" class="icon">
        </div>

        <div class="nav-center">
            <img src="/src/frontend/images/Ellipse 1.svg" alt="Logo" class="logo-icon">
            <span class="logo-text">ECOCOM</span>
        </div>

        <div class="nav-right">
            <img src="/src/frontend/images/Shopping bag.svg" alt="Shopping Icon" class="icon">
            <img src="/src/frontend/images/Person.svg" alt="Person Icon" class="icon">
        </div>
    </header>
            <div class="card-container">
                <div class="card">
                  <img src="/src/frontend/images/image.png" alt="recycling center">
                  <div class="card-content">
                      <h2 class="card-title">Klang Valley Recycling</h2>
                      <p class="card-date">Next Program <strong class="card-date-real">Tomorrow</strong></p>
                      <p class="card-location">Jalan Teknologi 5, Taman Teknologi Malaysia, Kuala Lumpur, 57000 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur</p>
                      <div class="btn-container">
                        <button class="calender-btn" style="width: 40px; height: 37px; border-radius: 10px; border: none;"><img src="/src/frontend/images/Calendar month.png"  class="card-calender" alt="calendar" style="width: 34px"></button>
                        <button class="navigate-btn" style="width: 110px; height: 37px;"><img src="/src/frontend/images/Directions.png" alt="navigate">Navigate</button>
                      </div>
                  </div>
                </div>
                <div class="card">
                  <img src="/src/frontend/images/image.png" alt="recycling center">
                  <div class="card-content">
                      <h2 class="card-title">Klang Valley Recycling</h2>
                      <p class="card-date">Next Program <strong class="card-date-real">Tomorrow</strong></p>
                      <p class="card-location">Jalan Teknologi 5, Taman Teknologi Malaysia, Kuala Lumpur, 57000 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur</p>
                      <div class="btn-container">
                        <button class="calender-btn" style="width: 40px; height: 37px; border-radius: 10px; border: none;"><img src="/src/frontend/images/Calendar month.png"  class="card-calender" alt="calendar" style="width: 34px"></button>
                        <button class="navigate-btn" style="width: 110px; height: 37px;"><img src="/src/frontend/images/Directions.png" alt="navigate">Navigate</button>
                      </div>
                  </div>
                </div>
                <div class="card">
                  <img src="/src/frontend/images/image.png" alt="recycling center">
                  <div class="card-content">
                      <h2 class="card-title">Klang Valley Recycling</h2>
                      <p class="card-date">Next Program <strong class="card-date-real">Tomorrow</strong></p>
                      <p class="card-location">Jalan Teknologi 5, Taman Teknologi Malaysia, Kuala Lumpur, 57000 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur</p>
                      <div class="btn-container">
                        <button class="calender-btn" style="width: 40px; height: 37px; border-radius: 10px; border: none;"><img src="/src/frontend/images/Calendar month.png"  class="card-calender" alt="calendar" style="width: 34px"></button>
                        <button class="navigate-btn" style="width: 110px; height: 37px;"><img src="/src/frontend/images/Directions.png" alt="navigate">Navigate</button>
                      </div>
                  </div>
                </div>
                <div class="card">
                  <img src="/src/frontend/images/image.png" alt="recycling center">
                  <div class="card-content">
                      <h2 class="card-title">Klang Valley Recycling</h2>
                      <p class="card-date">Next Program <strong class="card-date-real">Tomorrow</strong></p>
                      <p class="card-location">Jalan Teknologi 5, Taman Teknologi Malaysia, Kuala Lumpur, 57000 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur</p>
                      <div class="btn-container">
                        <button class="calender-btn" style="width: 40px; height: 37px; border-radius: 10px; border: none;"><img src="/src/frontend/images/Calendar month.png"  class="card-calender" alt="calendar" style="width: 34px"></button>
                        <button class="navigate-btn" style="width: 110px; height: 37px;"><img src="/src/frontend/images/Directions.png" alt="navigate">Navigate</button>
                      </div>
                  </div>
                </div>
                <div class="card">
                  <img src="/src/frontend/images/image.png" alt="recycling center">
                  <div class="card-content">
                      <h2 class="card-title">Klang Valley Recycling</h2>
                      <p class="card-date">Next Program <strong class="card-date-real">Tomorrow</strong></p>
                      <p class="card-location">Jalan Teknologi 5, Taman Teknologi Malaysia, Kuala Lumpur, 57000 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur</p>
                      <div class="btn-container">
                        <button class="calender-btn" style="width: 40px; height: 37px; border-radius: 10px; border: none;"><img src="/src/frontend/images/Calendar month.png"  class="card-calender" alt="calendar" style="width: 34px"></button>
                        <button class="navigate-btn" style="width: 110px; height: 37px;"><img src="/src/frontend/images/Directions.png" alt="navigate">Navigate</button>
                      </div>
                  </div>
                </div>
                <div class="card">
                  <img src="/src/frontend/images/image.png" alt="recycling center">
                  <div class="card-content">
                      <h2 class="card-title">Klang Valley Recycling</h2>
                      <p class="card-date">Next Program <strong class="card-date-real">Tomorrow</strong></p>
                      <p class="card-location">Jalan Teknologi 5, Taman Teknologi Malaysia, Kuala Lumpur, 57000 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur</p>
                      <div class="btn-container">
                        <button class="calender-btn" style="width: 40px; height: 37px; border-radius: 10px; border: none;"><img src="/src/frontend/images/Calendar month.png"  class="card-calender" alt="calendar" style="width: 34px"></button>
                        <button class="navigate-btn" style="width: 110px; height: 37px;"><img src="/src/frontend/images/Directions.png" alt="navigate">Navigate</button>
                      </div>
                  </div>
                </div>
            </div>

            <footer class="site-footer">
                <div class="footer-columns">
                  <div class="footer-col">
                    <h4>Explore</h4>
                    <ul>
                      <li><a href="#">Product Swap</a></li>
                      <li><a href="#">My Products</a></li>
                      <li><a href="#">Swap History</a></li>
                    </ul>
                  </div>
                  <div class="footer-col">
                    <h4>Help</h4>
                    <ul>
                      <li><a href="#">Help Center</a></li>
                      <li><a href="#">Returns & Warranty</a></li>
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                  </div>
                  <div class="footer-col">
                    <h4>About</h4>
                    <ul>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Impact</a></li>
                    </ul>
                  </div>
                  <div class="footer-col">
                    <h4>My Account</h4>
                    <ul>
                      <li><a href="#">Profile</a></li>
                      <li><a href="#">Settings</a></li>
                      <li><a href="#">Logout</a></li>
                    </ul>
                  </div>
                </div>
                <hr>
                <p class="footer-bottom">Copyright © YYYY www.example.com. All Rights Reserved.</p>
              </footer>
</body>
