<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recycling</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="/src/frontend/css/header.css">
  <link rel="stylesheet" href="/src/frontend/css/footer.css">
  <link rel="stylesheet" href="/src/frontend/css/common.css">
  <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
  <!-- Load the component loader script -->
  <script src="/src/frontend/components/component-loader.js" defer></script>
  <script src="./index.js" defer></script>
</head>

<body>

  <!-- Header will be loaded here -->
  <div id="header-container"></div>
  <div class="card-container">
    <div class="card">
      <a href="/src/frontend/components/recycling_info/index.html">
        <img src="/src/frontend/images/image.png" alt="recycling center">
      </a>
      <div class="card-content">
        <h2 class="card-title">Klang Valley Recycling</h2>
        <p class="card-date">Next Program <strong class="card-date-real">Tomorrow</strong></p>
        <p class="card-location">Jalan Teknologi 5, Taman Teknologi Malaysia, Kuala Lumpur, 57000 Kuala Lumpur, Wilayah
          Persekutuan Kuala Lumpur</p>
        <div class="btn-container">
          <button class="calender-btn" style="width: 40px; height: 37px; border-radius: 10px; border: none;"><img
              src="/src/frontend/images/Calendar month.png" class="card-calender" alt="calendar"
              style="width: 34px"></button>
          <button class="navigate-btn" style="width: 110px; height: 37px;"
            onclick="window.location.href = '/src/frontend/components/recycling_info/index.html'">
            <img src="/src/frontend/images/Directions.png" alt="navigate">Navigate
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="/src/frontend/images/image.png" alt="recycling center">
      <div class="card-content">
        <h2 class="card-title">Klang Valley Recycling</h2>
        <p class="card-date">Next Program <strong class="card-date-real">Tomorrow</strong></p>
        <p class="card-location">Jalan Teknologi 5, Taman Teknologi Malaysia, Kuala Lumpur, 57000 Kuala Lumpur, Wilayah
          Persekutuan Kuala Lumpur</p>
        <div class="btn-container">
          <button class="calender-btn" style="width: 40px; height: 37px; border-radius: 10px; border: none;"><img
              src="/src/frontend/images/Calendar month.png" class="card-calender" alt="calendar" style="width: 34px"></button>
          <button class="navigate-btn" style="width: 110px; height: 37px;"><img src="/src/frontend/images/Directions.png"
              alt="navigate">Navigate</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer will be loaded here -->
  <div id="footer-container"></div>

</body>

</html>