<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="index.css">
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'> <!-- Allows me to use Public Sans -->
    <script src="./index.js"></script>
</head>
<body>

    <!-- Free Shipping Banner -->
    <div class="top-banner">
        Free shipping for all orders above 50 MYR!
    </div>

    <!-- Navigation Bar -->
    <header class="nav-bar">
        <div class="nav-left">
            <img src="/src/frontend/images/Menu.svg" alt="Menu Icon" class="icon">
            <img src="/src/frontend/images/Search.svg" alt="Search Icon" class="icon">
        </div>

        <div class="nav-center">
            <img src="/src/frontend/images/Ellipse 1.svg" alt="Logo" class="logo-icon">
            <span class="logo-text">ECOCOM</span>
        </div>

        <div class="nav-right">
            <img src="/src/frontend/images/Shopping bag.svg" alt="Shopping Icon" class="icon">
            <img src="/src/frontend/images/Person.svg" alt="Person Icon" class="icon">
        </div>
    </header>

</body>
</html>
