<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Recycling Info</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="/src/frontend/css/header.css">
  <link rel="stylesheet" href="/src/frontend/css/footer.css">
  <link rel="stylesheet" href="/src/frontend/css/common.css">
  <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
  <!-- Load the component loader script -->
  <script src="/src/frontend/components/component-loader.js" defer></script>
  <script src="./index.js" defer></script>
</head>
<body>
  <!-- Header will be loaded here -->
  <div id="header-container"></div>

  <div class="recycling-detail-container">
    <!-- Recycling Image -->
    <div class="recycling-image">
      <img src="/src/frontend/images/image.png" alt="Recycling" class="img-responsive"/>
    </div>


    <!-- Recycling Info -->
    <div class="recycling-info">
        <h1>Klang Valley Recycling</h1>
        <p class="author">by <span>HuiYing Yap</span></p>

        <ul class="recycling-description">
            <p class="description">
                The Klang Valley Recycling program offers curbside pickup every Tuesday and provides separate bins for paper, plastics, and metals.
                Residents are encouraged to rinse their recyclables and place them out by 7 a.m. Participation in this program has already reduced landfill
                waste by 30% in the last year alone, proving that small efforts can lead to big results.
              </p>
        </ul>


        <!-- Venue & Time Box -->
        <div class="box info">
          <strong>Venue & Time</strong>
          <ul>
            <p>Jalan Teknologi 5, Taman Teknologi Malaysia, Kuala Lumpur</p>
            <p>Every Wednesday, 7.00 a.m. - 9.00 a.m.</p>
          </ul>
        </div>

        <!-- Recycling Notes Box -->
        <div class="box notes">
          <strong>What You Can Recycle</strong>
          <li>Paper & cardboard</li>
          <li>Plastic bottles & containers</li>
          <li>Glass</li>
          <li>Metal cans</li>
          <li>Electronics (e-waste)</li>
        </div>

        <!-- How To Participate -->
        <div class="box participate">
            <strong>How to Participate</strong>
            <ul>
              <p>Contact <strong>+60 1234567890</strong> to register and join the program</p>
            </ul>
        </div>
    </div>
  </div>



    <!-- Footer will be loaded here -->
    <div id="footer-container"></div>

</body>
</html>
