<div class="shipping-notice">
    Free shipping for all orders above 50 MYR!
</div>

<!-- Sidebar Navigation -->
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn">&times;</a>
    <a href="/frontend/index.html">Home</a>
    <a href="/frontend/components/swaps/index.html">Swaps</a>
    <a href="/frontend/components/community/index.html">Gardening</a>
    <a href="/frontend/components/recycling/index.html">Recycling</a>
</div>


<header class="sticky-navbar">
    <div class="navbar">
        <div class="navbar-left">
            <img src="/frontend/images/burgerMenu.png" alt="Menu Icon" class="icon" id="menuBtn">
        </div>

        <div class="logo">
            <a href="/frontend/index.html">
                <img src="/frontend/images/Ellipse 1.svg" alt="Logo" class="logo-icon">
                <span class="logo-text"> ECOCOM</span>
            </a>
        </div>

        <div class="navbar-right">
            <img src="/frontend/images/Inbox.svg" alt="Inbox Icon"
                style="width: 30px; height: 30px; position: relative; top: -1px;" class="icon">
            <div class="profile-container">
                <img src="/frontend/images/profile.png" alt="Person Icon" class="icon" id="profileBtn">
                <div class="profile-dropdown" id="profileDropdown">
                    <a href="/frontend/components/profile/index.html">My Profile</a>
                    <a href="/frontend/components/calendar/index.html">Calendar</a>
                    <a href="/frontend/components/favourite/index.html">Favourite</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>