<div class="header-shipping-notice">
    Free shipping for all orders above 50 MYR!
</div>

<!-- Sidebar Navigation -->
<div id="mySidebar" class="header-sidebar">
    <a href="javascript:void(0)" class="closebtn">&times;</a>
    <a href="/src/frontend/index.html">Home</a>
    <a href="/src/frontend/components/recycling/index.html">Recycling</a>
    <a href="/src/frontend/components/all blogs/index.html">All Blogs</a>
    <!-- <button class="community_gardening">Community Gardening
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="gardening-container">
        <a href="#">All Community Gardening</a>
        <a href="#">My Garden</a>
    </div>
    
    <button class="swap">Eco-friendly Product Swap
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="swap-container">
        <a href="#">All Swaps</a>
        <a href="#">My Swaps</a>
    </div> -->
    <a href="/src/frontend/components/community/index.html">Gardening</a>
    <a href="/src/frontend/components/swaps/index.html">Swaps</a>
</div>
</div>


<header class="header-sticky-navbar">
    <div class="header-navbar">
        <div class="header-navbar-left">
            <img src="/src/frontend/images/burgerMenu.png" alt="Menu Icon" class="icon" id="menuBtn">
        </div>

        <div class="header-logo">
            <a href="/src/frontend/index.html">
                <img src="/src/frontend/images/Ellipse 1.svg" alt="Logo" class="header-logo-icon">
                <span class="header-logo-text"> ECOCOM</span>
            </a>
        </div>

        <div class="header-navbar-right">
            <img src="/src/frontend/images/Inbox.svg" alt="Inbox Icon"
                style="width: 30px; height: 30px; position: relative; top: -1px;" class="icon">
            <div class="header-profile-container">
                <img src="/src/frontend/images/profile.png" alt="Person Icon" class="icon" id="profileBtn">
                <div class="header-profile-dropdown" id="profileDropdown">
                    <a href="/src/frontend/components/profile/index.html">My Profile</a>
                    <a href="/src/frontend/components/calendar/index.html">Calendar</a>
                    <a href="/src/frontend/components/favourite/index.html">Favourite</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>